<!DOCTYPE html>
<html>
<head>
    <title>Your Title</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Ecomm-Backend Routes</h1>
    <h3>This is a simple backend which has a few endpoints. This is written in Typescript using node.js and express.js</h3>
    <ul>
        <li>
            <span class="label path">Path:</span> <a href="/api/products">/api/products</a>
            <span class="label desc">Description:</span> Get request gets all the products in json, Post request adds products to the Database
        </li>
        <!-- Add more list items for each route -->
    </ul>
</body>
</html>