<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Ecomm-Backend Routes</h1>
    <h3>This is a simple backend which has a few endpoints. This is written in Typescript using node.js and express.js</h3>
    <ul>
        <% routes.forEach(function(route) { %>
            <li>
                <span class="label path">Path:</span> <a href="<%= route.path %>"><%= route.path %></a>
                <span class="label desc">Description:</span> <%= route.description %>
            </li>
        <% }); %>
    </ul>
</body>
</html>